<%= title "About the Endpoints app" %>

<p>Endpoints is a webapp that aims at documenting web services. It has been developed in the context of the <%= link_to "BUTLER project", "http://www.iot-butler.eu", target: "_blank" %> in order to well document IoT web services (e.g. endpoints).</p>

<p>The Endpoints app is now part of the <%= link_to "Open Platforms", "http://www.open-platforms.eu", target: "_blank" %> initiative and is documented here: <%= link_to "http://open-platforms.eu/library/endpoints", "http://www.open-platforms.eu", target: "_blank" %>.</p>

<h4>Contact</h4>

For any question, please contact Fabrice Clari (f.clari@inno-group.com).